*.o
*.obj
*.bc
*.pch
*.pdb
*.ipch
StuntCarRacer.tlog
*.suo
StuntCarRacer.res
StuntCarRacer.exe
stuntcarracer
Release/
Debug/
StuntCarRacer_2008.VC.db
node_modules

StuntCarRacer_2008.VC.VC.opendb
*.user
.vs/
.vscode/
build/
build-web/
package/ym2149/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
compile_commands.json
stuntcarracer.dir/
SCRlog.txt

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# Local commercial soundtrack (do not publish)
data/Music/Playlist/*.ogg
data/Music/Playlist/*.mp3
